.dotstorming-card {
    border: 2px solid #14A3E9;
    border-radius: 0.125em;
    padding: 0.25em;
    margin: 0.25em;
    font-size: 40px;
    overflow: auto;
}

.dotstorming-card ul.dots-container li {
    height: 1em;
    width: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    background: black;
    margin: 0.25em;
    float: left;
}

.dotstorming-card ul.dots-container li.user-dot {
    border-color: #14A3E9;
    background: #14A3E9;
    cursor: pointer;
}

.dotstorming-card ul.dots-container li.add-dot {
    border-color: #14A3E9;
    background: none;
    cursor: pointer;
}