@import './common.scss';

body {
    font-size: 40px;
}

.simple-data-list li .dot {
    float: left;
}

.dot {
    height: 1em;
    width: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    margin: 0.25em;
    background: black;

    &.add-dot,
    &.user-dot {
        background: $mainBlueColor;
        border-color: $mainBlueColor;
        cursor: pointer;
    }

    &.add-dot {
        background: none;
    }
}

.remaing-dots-count {
    overflow: auto;
    position: fixed;
    padding: 0.1em;
    bottom: 1em;
    right: 1em;

    .dot {
        display: inline-block;
        vertical-align: middle;
        margin-top: -0.05em;
    }
}



