@import './common.scss';

.efficiency-main-container {
    position: relative;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 10px 10px 0 0;
    height: 100%;
    background-color: white;

    .toolbar {
        border-top: 2px solid black;
        height: 5%;
        button {
            height: 100%;
            border-right: 3px solid black;
        }
    }

    .cards-container {
        height: 95%;
        position: relative;

        .grid-layout-item {
            width: 20%;
            height: 20%;
            border: 1px dashed black;
            position: absolute;
            z-index: 0;
        }

        .card {
            position: absolute;
            width: 20%;
            max-height: 5.6em;
            font-size: 40px;
            border: 5px solid $mainBlueColor;
            border-radius: 20px;
            padding: 10px;
            background-color: white;
            cursor: pointer;
            z-index: 10;
        }

        .card.hidden {
            display: none;
        }

        .card p {
            line-height: 1.2em;
            height: 3.6em;
            word-break: break-all;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .card .param-block {
            padding-top: 0.5em;
            width: 50%;
            display: inline-block;
        }

        .card .param-block .icon {
            width: 1em;
            height: 1em;
            margin-right: 5px;
        }
    }
}

.efficiency-card-form .rating-control span.icon {
    opacity: 0.3;
    width: 1em;
    height: 1em;
    margin: 0.5em 0.5em 0.5em 0;
    cursor: pointer;

    &.selected {
        opacity: 1;
    }
}

.efficiency-cards-list .item {
    margin: 0.5em 0;
    max-height: 2em;
    overflow: hidden;

    span {
        &.text {
            display: inline-block;
            width: 65%;
        }

        &.icon {
            vertical-align: bottom;
            float: right;
            margin-right: 1em;
        }
    }
}

span.icon {
    &.time {
        background-image: svg-load('./../resources/images/icons/efficiency/svg/time.svg');
    }

    &.perfomance {
        background-image: svg-load('./../resources/images/icons/efficiency/svg/performance.svg');
    }

    &.form {
        background-image: svg-load('./../resources/images/icons/efficiency/svg/form.svg');
    }
}