@import './common.scss';

.fistvote-entry {
    border: 1px solid $mainBlueColor;
    font-size: 60px;
    padding: 0.125em;
    margin: 0.083333em;
    position: relative;

    p {
        padding-right: 1.25em;
    }

    .average-vote {
        height: 1em;
        width: 1em;
        position: absolute;
        right: 0.125em;;
        top: 0.125em;
    }

    .vote-buttons-container {
        margin-top: 0.5em;
    }

    span.icon {
        @each $color, $i in ED1B24, F57E22, FEC009, F3E705, B4D433, 51B74A {
            &.fingers$(i) {
                background-image: svg-load('./../resources/images/icons/fist_vote/svg/fingers$(i).svg', fill=#$color);
            }
        }
    }
}