@import './common.scss';

.simplevote-entry {
    border: 1px solid $mainBlueColor;
    font-size: 60px;
    padding: 0.125em;
    margin: 0.083333em;
    position: relative;

    p {
        padding-right: 1.25em;
    }

    span.vote-button.icon {
        position: absolute;
        right: 0.125em;;
        top: 0.125em;
        border: 1px solid #CCCCCC;
        border-radius: 0.5em;

        &.check {
            border-color: $mainBlueColor;
            background-image: svg-load('./../resources/images/icons/simple_vote/svg/check.svg', fill=$mainBlueColor);
        }
    }

    .progress-bar {
        margin-top: 1em;
    }
}