@import './common.scss';

.vote-buttons {
    img,
    span.number {
        display: inline-block;
        height: 100%;
        margin: 0 0.083333em;
    }

    img {
        cursor: pointer;
    }

    span {
        &.plus {
            color: #07B007;
        }

        &.minus {
            color: #D80027;
        }
    }

    span.icon {
        &.finger-up {
            background-image: svg-load('./../resources/images/icons/yes_no/svg/finger_up.svg', fill=#07B007);
        }

        &.finger-down {
            background-image: svg-load('./../resources/images/icons/yes_no/svg/finger_down.svg', fill=#D80027);
        }
    }
}